.matchesRow {
    display: flex;
    width: 40vw;
    margin-top: 15px;
    padding: 0 20px;
    height: 100px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    background-color: var(--match);
    box-shadow: 2px 5px 5px 5px var(--shadow);
    cursor: pointer;
}

.date {
    border-right: 2px solid var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 15px;
    height: 100%;
}

.date p {
    margin: 0;
}

.predict {
    display: flex;
    flex-direction: column;
    background-color: #e8c66f;
    padding: 5px 0;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}

.predict p {
    margin: 0;
}

.comand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
    align-items: center;
}

.comandText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.result {
    display: flex;
    justify-content: center;
}

.completePredict {
    display: flex;
}

.doPrediction {
    display: flex;
    align-items: center;
}

.doPrediction > p:last-child {
    font-size: 2vw;
}

.doPredict {
    background-color: var(--text);
    border-radius: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    height: 50px;
}

.doPredict p {
    color: #fff9ea;
}

@media screen and (max-width: 800px) {
    .matchesRow {
        width: 60vw;
    }
    .comand {
        margin: 0;
        margin-left: 10px;
        flex-direction: column;
        width: 80%;
    }
    .comandText {
        font-size: 10px;
    }
    .completePredict {
        width: 30vw;
        height: 30px;
        font-size: 9px;
    }
    .doPredict {
        padding: 5px 15px;
        width: 20vw;
        height: 30px;
    }
    .doPredict p {
        font-size: 10px;
    }
    .doPrediction > p:last-child {
        font-size: 5vw;
    }
}
